<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>This is the Official Songa blog. All updates will be officially announced from here.<br/>
					 ©2016 <a href="https://songa-labs.github.io">Songa Labs</a></p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="https://twitter.com/songa_labs"><i class="fa fa-twitter"></i></a>
		 				<a href="https://github.com/songa-labs"><i class="fa fa-github"></i></a>
		 				<a href="https://songalabs.slack.com"><i class="fa fa-slack"></i></a>


		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>HQ</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Nairobi, Kenya<br/>
		 				+254-729834488<br/>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->