---
layout: default
---
<html lang="en">
  <head>
  {% include blog-head.html %}
  </head>

  <body>

    <!-- Fixed navbar -->
    {% include blog-nav.html %}

	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>{{page.title}}</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
<div class="container">
	<div class="row">
		<div class="col-lg-8">
   {{content}}
</div>
</div>
<div class="container">
	<div class="row">

		<h3>Recent Posts</h3>
		<div class="hline"></div>
		<div class="spacing"></div>
		{% for post in site.categories.recent %}
		    <div class="col-lg-4">
		      <a href="{{ post.url }}">{{post.fimage}}</a><a href="{{ post.url }}"><h3 class="ctitle">{{post.title}}</h3></a> <csmall>Posted {{post.date}}</csmall> <csmall2> By: {{ post.author }}</csmall2>
		    </div>
		  {% endfor %}
	</div>
</div>
<div class="spacing"></div>
{% include blog-footer.html %}
{% include blog-javascript.html %}
  </body>
</html>
